# This is the OpenSSL configuration file for the Example Enterprises Root A1
# certificate authority.

[default]
default_md=sha512
string_mask=utf8only

[req]
prompt=no
utf8=yes
distinguished_name=root_a1_dn
x509_extensions=root_a1_extensions

[root_a1_dn]
CN=Example Enterprises Root A1
O=Example Enterprises

[default_extensions]
basicConstraints=critical,CA:false
keyUsage=critical,digitalSignature
subjectKeyIdentifier=hash
#extendedKeyUsage=OCSPSigning
#authorityKeyIdentifier=keyid:always,issuer:always
#subjectAltName=DNS:root-ca
#authorityInfoAccess=OSCP;...
#authorityInfoAccess=caIssuers;...
#crlDistributionPoints=URI:
#certificatePolicies=...

[root_a1_extensions]
basicConstraints=critical,CA:true
keyUsage=critical,keyCertSign,cRLSign
#extendedKeyUsage=OCSPSigning
#authorityKeyIdentifier=keyid:always,issuer:always
subjectKeyIdentifier=hash
#subjectAltName=DNS:root-ca
#authorityInfoAccess=OSCP;...
#authorityInfoAccess=caIssuers;...
#crlDistributionPoints=URI:
#certificatePolicies=...

[root_b1_extensions]
basicConstraints=critical,CA:true
keyUsage=critical,keyCertSign,cRLSign
#extendedKeyUsage=OCSPSigning
#authorityKeyIdentifier=keyid:always,issuer:always
subjectKeyIdentifier=hash
#subjectAltName=DNS:root-ca
#authorityInfoAccess=OSCP;...
#authorityInfoAccess=caIssuers;...
#crlDistributionPoints=URI:
#certificatePolicies=...

[inter_x1_extensions]
basicConstraints=critical,CA:true
keyUsage=critical,keyCertSign,cRLSign,digitalSignature
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
#extendedKeyUsage=OCSPSigning
#subjectAltName=DNS:root-ca
#authorityInfoAccess=OSCP;...
#authorityInfoAccess=caIssuers;...
#crlDistributionPoints=URI:
#certificatePolicies=...
